.swiper{
    height: 100vh;
}

.swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.swiper-slide img {
    height: 30vh;
    margin-bottom: 40px;
}

